@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(./fonts/Wnz6HAc5bAfYB2Q7ZjYY.woff2) format('woff2');
}

@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(./fonts/X7n64b87HvSqjb_WIi2yDCRwoQ_k7367_DWu89U.woff2) format('woff2');
}

@font-face {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/hES06XlsOjtJsgCkx1Pkfon_-w.woff2) format('woff2');
}

@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/_gP_1RrxsjcxVyin9l9n_j2hTd52.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiSncHjaba.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(./fonts/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
}
